@media (min-width: 768px) {
    header { padding: 20px; }
    header h1 { font-size: 2em; }

    .menu-toggle { display: none; }
    .dark-mode-toggle { right: 20px; }
    nav.main-nav { display: block; }
    nav.main-nav ul {
        flex-direction: row;
        justify-content: center;
    }
    nav.main-nav a { padding: 14px 20px; }

    main { max-width: 1200px; }
    main .card {
        display: inline-grid;
        width: calc(50% - 20px);
        margin: 0 10px;
        vertical-align: top;
    }
    main .card { margin-bottom: 0; }
}

@media (min-width: 1024px) {
    header h1 { font-size: 2.5em; }
    nav.main-nav a { padding: 20px 30px; }
    main .card { margin: 0 15px; }
}